/*
.body{
  background-color: rgb(247, 247, 247) !important;
} */

.btn {
  margin-left: 0;
  /* margin-top: 15px; */
  margin-bottom: 5px;
  margin-right: 15px;
}

.heading {
  padding: 15px;
  height: 60px;
  width: auto;
  background-color: #eee;
}

.nav{
  background-color: #eee;
}


.side_bar{
  width: 30%;
  float: left;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  border-right: 1px solid #d8d8d8;
}

.content{
  width:70%;
  float: right;
}

.side_bar_card {
  padding: 3px;
  border-top: 2px solid rgb(247, 247, 247);
  height:fit-content;
  background-color: white;
  width: 100%;
  cursor: pointer;
}

/* .side_bar_cards_wrap :hover {
  background-color: #eee;
}

.side_bar_card :hover{
  background-color: #eee;
} */


.alert{
  margin: 0 !important;
}


#fill_the_form{
  margin-left: 15px;
}

#registration_row{
  margin-top: 10px;
}


/* VM Cards Charts: */

#table-sparkline {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: center !important;
    padding: 3px;
    border-bottom: 1px solid silver;
    height: 10px;
    font-weight: normal !important;
    border-collapse: collapse;
    font-size: small;
}

td {
    /* padding: 10px; */
    /* border-bottom: 1px solid silver; */
    height: 65px;
    font-weight: normal !important;
    border-collapse: collapse;
    font-size: 9px;
}


.label-sparkline{
  -webkit-transform: rotate(270deg);
  font-size: 9px;
  color: #6b757d;
  padding:0px !important;
}



.side_bar_card_title{
  font-size: 12px;
  margin: 0;
  margin-left: 5px;

}

.col{
  padding: 0px !important;
}

.side_bar_card_last_time{
  font-size: 9px;
  margin: 0;
  margin-right: 5px;
  text-align: right;
  color: #6b757d;
}

.row{
  margin: 0px !important;
}

.fa, .fas{
  font-size: 25px !important;
}

.nav-link {
  color: #6b757d !important;

}

#body_base{
  padding: 5px !important;
}

.card_selected{
  background-color: #eee;
}

#monitoring_div{
  margin-bottom: 15px;
}
