<!DOCTYPE html>
{% extends "gnumonitor/base.html" %}
{% load staticfiles %}
{% block body_block %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Monitor</title>
  </head>
  <body>
    <div class="container" action =" ">
      <p>Fill the form to register a chart:</p>
      <form method="post">

        {{form.as_p}}
        {% csrf_token %}

        <input type="submit" class="btn btn-secondary" value="Save changes">
      </form>

    </div>

  </body>
{% endblock %}
</html>
